*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}
body{
    background: url(../img/bg-jungle.jpg) no-repeat #1e5735;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
.container{
    display: flex;
    justify-content: space-evenly;
}
.menu{
    background-color: #1e5735e7;
    border: 2px solid #fff;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    width: 50%;
    min-width: 330px;
    max-width: 400px;
    font-size: 2rem;
    color: #fff;
    padding: 6px;
    align-items: center;
}
span{
    font-size: 2rem;
    align-items: center;
}
#mosca{
    width: 60px;
    height: 60px;
}
#mosca:hover{
    cursor: pointer;
}